
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^arvmedicine\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.arvmedicine\.com$
RewriteRule ^/?$ "https\:\/\/www\.heterohealthcare\.com\/arv\-division\-products" [R=301,L]
